<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" th:href="@{/css/table.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="header">
    <h1 class="h1">Biuro Obsługi Mieszkańca - Zgłoszenia</h1>
    <div class="topnav">
        <span th:if="${@userContextService.getLoggedUserEmail()}">
            <span th:if="${@userContextService.admin()}">
                <a href="/index">Najnowsze zgloszenia</a>
                <a href="/admin/adduser">Dodaj użytkownika</a>
            </span>
            <span th:if="${@userContextService.bomUser()}">
                <a th:if="${@userContextService.getLoggedUserEmail()}" href="/">Nowe zgłoszenia</a>
            </span>
            <a href="/logout">Wyloguj</a>
        </span>
        <span th:if="!${@userContextService.getLoggedUserEmail()}">
            <a href="/index">Nowe zgloszenia</a>
            <a href="/login">Zaloguj się</a>
        </span>
        <div style="display: flex">
            <p th:if="${@userContextService.getLoggedUserEmail()}"
               th:utext="'Zalogowano jako:' + '<br />' + ${@userContextService.getLoggedUserEmail()}"
               style="text-align: center;color: white; margin-top:auto"></p>
        </div>
    </div>
</div>

</body>
</html>