<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript">
        // <!--
        var the_flash;
        var the_timeout;
        function flash(id, color1, time1, color2, time2) {
            the_flash = 'flash("' + id + '","' + color2 + '",' + time2 + ',"'
                + color1 + '",' + time1 + ');';
            document.getElementById(id).style.color = color1;
            the_timeout = setTimeout(the_flash, time1);
        }
        // -->
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <Title>Biuro podróży grupa 3</Title>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <div>
        <div class="labelpromotionornoy" id="tekstpromocja"th:text="${promotion}" onmouseover='clearTimeout(the_timeout);
        this.style.color="black";'
             onmouseout='setTimeout(the_flash, 500);'>Label</div>
        <script type="text/javascript">
            // <!--
            flash("tekstpromocja", "black", 500, "white", 500);
            // -->
        </script>
        <table class="blueTable">
            <thead>
            <tr>
                <th>Lp</th>
                <th>Nazwa</th>
                <th>Miasto</th>
                <th>Państwo</th>
                <th>Szczegóły</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trip,iterationStatus : ${promotiontrips}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${trip.getName()}">Name</td>
                <td th:text="${trip.getDestinationName().getName()}">destinationName</td>
                <td th:text="${trip.getDestinationName().getCountry().name}">countryName</td>
                <td>
                    <form action="#" th:action="@{'/showTripsById'}" method="get">
                        <input type="hidden" name="id" th:value="${trip.getId()}" />
                        <button class="buttonWiecej" type="submit" id="submitButton">Wiecej...</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="labelpromotionornoy" th:text="${notpromotion}">Label</div>
        <table class="blueTable">
            <thead>
            <tr>
                <th>Lp</th>
                <th>Nazwa</th>
                <th>Miasto</th>
                <th>Państwo</th>
                <th>Szczegóły</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trip,iterationStatus : ${trips}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${trip.getName()}">Name</td>
                <td th:text="${trip.getDestinationName().getName()}">destinationName</td>
                <td th:text="${trip.getDestinationName().getCountry().name}">countryName</td>
                <td>
                    <form action="#" th:action="@{'/showTripsById'}" method="get">
                        <input type="hidden" name="id" th:value="${trip.getId()}" />
                        <button class="buttonWiecej" type="submit" id="submitButton2">Wiecej...</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
