<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript">
        // <!--
        var the_flash;
        var the_timeout;
        function flash(id, color1, time1, color2, time2) {
            the_flash = 'flash("' + id + '","' + color2 + '",' + time2 + ',"'
                + color1 + '",' + time1 + ');';
            document.getElementById(id).style.color = color1;
            the_timeout = setTimeout(the_flash, time1);
        }
        // -->
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <Title>Zgłoszenia Big bagi</Title>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <div>
        <table class="blueTable">
            <thead>
            <tr>
                <th>Lp</th>
                <th>Id</th>
                <th>Data zgłoszenia</th>
                <th>Treść zgłoszenia</th>
                <th>Nazwa klienta</th>
                <th>Adres</th>
                <th>Nr telefonu</th>
                <th>Nr oswiadczenia</th>
                <th>Nr worków</th>
                <th>Status</th>
                <th>Przyjmujący zgłoszenie</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="zgloszenia,iterationStatus : ${zgloszenia}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${zgloszenia.getId()}">Id</td>
                <td th:text="${zgloszenia.getDataZgloszenia()}">Data zgłoszenia</td>
                <td th:text="${zgloszenia.getTrescZgloszenia()}">Treść zgłoszenia</td>
                <td th:text="${zgloszenia.getNazwaKlienta()}">Nazwa klienta</td>
                <td th:text="${zgloszenia.getUlicaNrDomu()}">Adres</td>
                <td th:text="${zgloszenia.getNrTelefonu()}">Nr telefonu</td>
                <td th:text="${zgloszenia.getNrOswiadczenia()}">Nr oswiadczenia</td>
                <td th:text="${zgloszenia.getNrWorka()}">Nr worków</td>
                <td th:text="${zgloszenia.getStatusZgloszenia()}">Status</td>
                <td th:text="${zgloszenia.getNazwaUzytkownika()()}">Przyjmujący zgłoszenie</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
